<div class="fondo-modal-imagen oculto animated fadeIn fast"
     [class.oculto]="modalImagenService.ocultarModal">
    <div id="responsive-modal" 
    class="modal fade show" 
    tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" 
    style="display: block;">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title">Cargar Imagen</h4>
               <button type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-hidden="true"
                        (click)="cerrarModal()">×</button>
           </div>
           <div class="modal-body">
               <h3>Seleccione una imagen</h3>
               <div class="img-avatar-container">
                <img *ngIf="!imgTemp" class="img-avatar" [src]="modalImagenService.img" alt="">
                <img *ngIf="imgTemp" class="img-avatar" [src]="imgTemp" alt="Imagen del avatar">
            </div>
            <input type="file"
                   (change)="cambiarImagen($event.target['files'][0])" />
           </div>
           <div class="modal-footer">
               <button type="button" 
                       class="btn btn-default waves-effect" 
                       data-dismiss="modal"
                       (click)="cerrarModal()">Cancelar</button>
               <button type="button" 
                       class="btn btn-danger waves-effect waves-light"
                       (click)="subirImagen()">Actualizar Foto</button>
           </div>
       </div>
   </div>
</div>
</div>